/* Colores sacados de chttps://colorhunt.co/ */

@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400;600;700&display=swap');

body {
    font-family: 'Tektur', cursive;
    background-color: #1D5B79;
}

#seleccionar-mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo {
    color:  #F3AA60;
    font-size: 40px;
    font-weight: 700;
}

.subtitulo {
    color: #f2d4b5;
    font-size: 20px;
}

.tarjetas, .tarjetas-ataque {
    display: flex;
    gap: 10px;
}

.tarjeta-de-mokepon {
    width: 190px;
    height: 160px;
    background: #468B97;
    cursor: pointer;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.tarjeta-de-mokepon img {
    width: 100px;
}

input {
    display: none;
}

input:checked + label{ /* En mi html, input y label son 'hermanos' por eso se utiliza el '+' para que afecten los estilos del uno al otro cuando es seleccionado */ 
    background-color: #ef8e2c;
}

button{
    background-color:  #F3AA60;
    border: 4px solid #ef8e2c;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    color: #1D5B79;
    cursor: pointer;
    font-family: 'Tektur', cursive;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 30px;
    padding: 12px 60px;
}

#seleccionar-ataque {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boton-de-ataque, #boton-reiniciar {
    background-color:  #F3AA60;
    border: 4px solid #ef8e2c;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    color: #1D5B79;
    font-family: 'Tektur', cursive;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 30px;
    padding: 12px 60px;
}

#mensajes{
    width:16rem;
    color:#1D5B79;
    background:#f2d4b5;
    padding:20px;
    margin:20px 0;
    border-radius:20px;
    display:flex;
    align-items:center;
    flex-direction:column
}

#reiniciar{
    justify-content: center;
}

#boton-reiniciar{
    margin: 20px 0 40px;
}

.ataques{
    display: grid;
    grid-template-columns: 150px 150px;
    grid-gap: 1rem;
    color: #fff;
}

#vidas-jugador, #vidas-enemigo {
    font-size: 32px;
    margin-bottom:0;
}

.ataques-jugador, .ataques-enemigo{
    background-color: rgba(255,255,255,0.1);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 1rem;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

#vidas-jugador, #vidas-enemigo{
    text-align: center;
}

@media (max-width: 360px){
    .tarjetas, .tarjetas-ataque{
        flex-direction: column;
    }
}